{% extends 'base.twig' %}

{% block content %}
    <script type="module" src="{{ asset("js/main.js") }}"></script>

    {#    {% if stats %} #}
    {#        {{ stats|json_encode() }} #}
    {#    {% endif %} #}

    <div class="container qcm-new">
        <qcm-edit data-type="new"
                  data-token='{{ token }}'
                  data-url="{{ url("") }}">

        </qcm-edit>
    </div>


{% endblock %}