<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block assets %}
        {#        <script src="https://cdn.tailwindcss.com"></script> #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet"
              href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    {% endblock %}
    {% block seo %}
        <meta property="og:title" content="I am prout"/>
    {% endblock %}
    <title>{% block title %} QCM - WEBSITE {% endblock %}</title>
</head>
<body>
<div class="container">
    {% include 'nav.twig' %}

    {% block content %}

    {% endblock %}
</div>

{% if app.debug and app.user %}
    <div class="debug-bar ">
        <div class="debug-bar-flex">
            <p class="">
                Load time : {{ app.load | number_format(2) }}
            </p>
            <p>|</p>
            <p>
                Controller: {{ app.other.class }}
            </p>
        </div>
    </div>
{% endif %}

<script src="{{ asset('js/utils.js') }}"></script>

</body>
</html>