{%  extends "base.twig" %}

{% block content %}


    i'm cursed btw
    <br>
    {% if app.session %}
        <a href="{{ url("app_logout") }}">ce déconnecter</a>
    {% else %}
        <a href="{{ url("app_login") }}"> se connecter</a>
    {% endif %}
{% endblock %}