{% extends "base.twig" %}

{% block content %}


    <div class="nav">
        <div class="nav-logo">
{#            <img src="{{ asset("img/logo.png") }}" alt="QCM Logo">#}
            <div class="nav-brand">Q-CM</div>
        </div>
        <ul class="nav-links nav-center">
            <li class="link"><a href="">Home</a></li>
            <li class="link"><a href="">QMC</a></li>
            <li class="link"><a href="">Login</a></li>
        </ul>
    </div>


    <div class="landing-flex">
            <div class="landing-left">
                <div class="title">
                    My hyper title lul
                </div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem beatae blanditiis cumque deserunt
                    dolorem enim exercitationem, iste minus optio perferendis quas quia quod rerum similique sint
                    temporibus totam voluptas?
                </p>

            </div>
            <div class="landing-right">
                <img src="https://picsum.photos/400/200" alt="">
            </div>
        </div>


    {#    i'm cursed btw #}
    {#    <br> #}
    {#    {% if app.session %} #}
    {#        <a href="{{ url("app_logout") }}">ce déconnecter</a> #}
    {#    {% else %} #}
    {#        <a href="{{ url("app_login") }}"> se connecter</a> #}
    {#    {% endif %} #}
{% endblock %}