{% extends "base.twig" %}

{% block content %}



    <div class="landing-flex">
        <div class="present">
            <h1 class="title">Bienvenue sur Q-CM !</h1>
            <p class="desc">Vous y trouverez des QCMs de toutes sortes <span class="bold">créées</span> par la <span
                        class="bold">communauté</span> pour la <span class="bold">communauté</span> !</p>
        </div>
        <div class="qcms">
            <div class="text">
                <p>Les derniers QCM ajoutées</p>
            </div>
            <div class="imos">
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">Title</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem deleniti distinctio,
                        doloribus est in
                    </div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span class="bold">RandomUser</span>  </span>
                        <span><i class="las la-calendar-alt"></i><span class="bold">27/04/2020</span> </span>
                    </div>
                </div>
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">Title</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem deleniti distinctio,
                        doloribus est in
                    </div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span class="bold">RandomUser</span>  </span>
                        <span><i class="las la-calendar-alt"></i><span class="bold">27/04/2020</span> </span>
                    </div>
                </div>
                <div class="imo">
                    <div class="image">
                        <img src="https://pipoucolors.clownerie.space/api/v1/250/150/" alt="">
                    </div>
                    <div class="title">Title</div>
                    <div class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem deleniti distinctio,
                        doloribus est in
                    </div>
                    <div class="infos">
                        <span><i class="las la-user-circle"></i><span class="bold">RandomUser</span>  </span>
                        <span><i class="las la-calendar-alt"></i><span class="bold">27/04/2020</span> </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}