/*Reset all margin,padding, box*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom html*/


a {
    color: #7371fc;
}

/* NAVBAR */
.nav {
    background: #ffd97d;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(0,0,0,0.2) 3px 2px 4px;
}


.nav-logo {
    display: inline-flex;
    align-items: center;
}
.nav-brand {
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
}
.nav-logo img {
    width: 10%;
    border-radius: 50px;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links.nav-center {
    justify-content: center;
}

.link {
    margin: 0 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 0.1px;
    padding: 10px 10px;
}

.link a {
    text-decoration: none;
    text-transform: uppercase;
}