{% extends "base.twig" %}
{% block content %}
    <div class="container login">
        <div class="form">
            <h1>Se connecter !</h1>
            {{ form|raw }}

            <div><span>Pas de compte ? <a href="{{ url('app_register') }}">crée un nouveau compte !</a> </span></div>
        </div>
    </div>
{% endblock %}