{% extends "base.twig" %}
{% block content %}
    <div class="container login">
        <div class="form">
            {{ form|raw }}

            <span>Pas de compte ? <a href="{{ url('app_register') }}">crée un nouveau compte !</a> </span>
        </div>
    </div>
{% endblock %}