{% extends 'base.twig' %}


{% block content %}
    <div class="error-404">
        <div class="title">404</div>
        <h1>La page n'xiste pas ou n'est ou n'est plus accessible</h1>

    </div>
{% endblock content %}