{% extends 'base.twig' %}


{% block content %}
    <div class="error-404">
        <div class="title">4 0 4</div>
        <h1>La page n'existe pas ou n'est plus accessible.</h1>
        <h2>Vous allez être redirigé vers l'accueil.</h2>

        <script !src="">
            setTimeout(() => {
                window.location.replace("{{ url('') }}")
            }, 5000)

        </script>
    </div>
{% endblock content %}